<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$</title>
    <!-- <link rel="icon" type="image/svg+xml" href="favicon.svg"> -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="post-title">$title$</h1>
    <div class="post-metadata">
        Posted on $date$ by $author$
    </div>
    <div class="post-content">
        $body$
    </div>
    <a href="/" class="return-link">← Return to Index</a>
</body>
</html>
